.g-title {
    margin: 0;
    font-size: 34px;
}

.g-subtitle {
    margin: 0;
    color: var(--color-accent);
    font-size: 20px;
}

.number {
    color: var(--color-white);
    margin: .5rem;
    font-size: 14px;
    padding: 0 0.5rem;
    border-radius: .25rem;
    background-color: var(--color-accent);
}